<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button  color="dark"></ion-back-button>
    </ion-buttons>
    <ion-title color="dark">Pensamento crítico</ion-title>
  </ion-toolbar>

  <ion-card>
    <ion-card-header>
      <img src="https://cdn-icons-png.flaticon.com/512/5759/5759732.png" alt="nao tem foto" class="img">
      <ion-card-title>Oque é?</ion-card-title>
    </ion-card-header>
  
    <ion-card-content class="texto">
      Ter pensamento crítico significa não aceitar passivamente as informações e opiniões que chegam até você. É preciso refletir, analisar, resumir, quantificar e
       cruzar com outras informações para chegar a uma opinião própria.
    </ion-card-content>
  </ion-card>
</ion-header>


