<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button  color="dark"></ion-back-button>
    </ion-buttons>
    <ion-title color="dark">Capacidade de resolução de problemas</ion-title>
  </ion-toolbar>
  <ion-card>
    <ion-card-header>
      <img src="https://miro.medium.com/max/800/1*lOvVlLI91bXBK3sF3ryqNw.gif" alt="nao tem foto" class="img">
      <ion-card-title>Oque é?</ion-card-title>
    </ion-card-header>

    <ion-card-content class="texto">
      Resolver problemas é a habilidade de encarar desafios com inteligência e encontrar soluções adequadas para eles. Representa um olhar diferente sobre momentos de crise, já que muitas pessoas tendem a ficar paralisadas, terceirizar a responsabilidade e fugir do enfrentamento. Já as pessoas que sabem resolver problemas não têm medo de enfrentá-los.
    </ion-card-content>
  </ion-card>
</ion-header>
<ion-content>

</ion-content>
