<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button  color="dark"></ion-back-button>
    </ion-buttons>
    <ion-title color="dark">Resiliencia</ion-title>
  </ion-toolbar>
  <ion-card>
    <ion-card-header>
      <img src="https://lh3.googleusercontent.com/_zR_crfz8KoFcOYkNIAn0d5DriRSKxbJpCna0dCo3ivgZEkQml-HoNoOFikSd90RBYYEwQ=s85" alt="nao tem foto" class="img">
      <ion-card-title>Oque é?</ion-card-title>
    </ion-card-header>
  
    <ion-card-content class="texto">
      Resiliência é a capacidade de enfrentar desafios e dificuldades, mas se manter de cabeça erguida e tirar aprendizados de cada momento. Significa encarar as adversidades com uma resposta positiva para o futuro.
    </ion-card-content>
  </ion-card>
</ion-header>

<ion-content>

</ion-content>
