<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button  color="dark"></ion-back-button>
    </ion-buttons>
    <ion-title color="dark">Resiliencia</ion-title>
  </ion-toolbar>
  <ion-card>
    <ion-card-header>
      <img src="https://sp.unifesp.br/epe/desm/images/CSP/USER/Jornalista_-_Loane/not%C3%ADcias_imagens/resiliencia-3.gif" alt="nao tem foto" class="img">
      <ion-card-title>Oque é?</ion-card-title>
    </ion-card-header>

    <ion-card-content class="texto">
      Resiliência é a capacidade de enfrentar desafios e dificuldades, mas se manter de cabeça erguida e tirar aprendizados de cada momento. Significa encarar as adversidades com uma resposta positiva para o futuro.
    </ion-card-content>
  </ion-card>
</ion-header>

<ion-content>

</ion-content>
