.texto{
  font-size: 15px;
  border: 1px;
  background-color: rgb(146, 146, 146);
  color: rgb(255, 255, 255);
}

.texto2{
  font-size: 30px;
  border: 1px;
  background-color: rgb(146, 146, 146);
  color: rgb(255, 0, 0);

}

.img{
  width: 100%;
}

.botao{
  margin-left: 5px;
  padding-left: 5px;
}
 .titulo{
  margin-left: 15px;
  padding-left: 5px;
 }

 .card{
   background-color: rgb(146, 146, 146);
 }

ion-content {
  --background: url(https://i.pinimg.com/736x/4e/d9/8c/4ed98c5a11022c7bcc0b7c4632d9b05c.jpg);
}


