<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button  color="dark"></ion-back-button>
    </ion-buttons>
    <ion-title color="dark">Iniciativa própria</ion-title>
  </ion-toolbar>

  <ion-card>
    <ion-card-header>
      <img  class="img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSrP7Ej6vaqkLQUhH0UlZgQsdUu4pO5YHOxfGgCsWb-tsk_ZO3i_YolVXm9_TX6QcQcC8Q&usqp=CAU" alt="nao tem foto" class="img">
      <ion-card-title>Oque é?</ion-card-title>
    </ion-card-header>
  
    <ion-card-content class="texto">
      Iniciativa própria é a capacidade de tomar decisões e partir para a ação por sua conta, sem precisar de uma ordem ou uma pressão externa. Quem tem iniciativa própria consegue fazer os planos saírem do papel para alcançar objetivos, em vez de procrastinar ou deixar que os outros resolvam.    </ion-card-content>
  </ion-card>
</ion-header>

<ion-content>

</ion-content>
